.filters {
    width: 75%;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.cuisine-images {
    display: flex;
    flex-direction: ltr;
    justify-content: space-around;
    align-items: center;
}

span {
    background-size: contain;
    background-position: 100%;
    background-repeat: no-repeat;
    font-size: 70px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #EEEEEE;
}

.form {
    width: 50%;
}

.ingredient-input {
    font-size: 18px;
    display: flex;
    flex-direction: ltr;
    justify-content: space-between;
    align-items: center;
}

input[type=text] {
    border-color:#EEEEEE;
    border-width: 1px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 30%;
    padding: 5px;
    margin-top: 30px;
    box-sizing: border-box;
}

input[type=submit] {
    border-color:#EEEEEE;
    border-width: 1px;
    background-color: white;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.submit {
    text-align: center;
}

#recipe-response {
    text-align: center;
    padding-top: 0px;
    margin: 0px;
}

a:link {
    color: #00005F;
}

a:visited {
    color:#282c34;
}

a:hover {
    color: #002b80;
}